html {
    font-family:  helvetica, arial, 'lucida grande', sans-serif;
}

/* FIX FOR BOOTSTRAP CENTER */
.center-block {
    float: none;
}

.btn {
    outline: none !important;
}

.navbar-left {
    margin-left: -15px !important;
}

.profile-image {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

.comment-form {
    padding: 5px;
    margin: 5px;
}

.comment-settings {
    display: inline-block;
    float: right;
    margin: 10px;
}

.navbar-default .navbar-nav>li>a {
    line-height: 30px;
}

img.thumbnail {
    width: 150px;
    height: 150px;
}

img.cover-thumbnail {
    width: 800px;
    height: 100px;
}

#search-people-form input {
    margin-top: 5px;
    width: 250px;
}

#search-people-form .results {
    background-color: #ffffff;
    position: absolute;
    margin-top: 10px;
    border: 1px solid #a0a0a0;
    width: 250px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#search-people-form .results > span {
    display: block;
    text-align: center;
    padding: 10px;
}

#search-people-form .results > .user-result {
    padding: 10px 10px;
    border-bottom: 1px solid #a0a0a0;
}
#search-people-form .results > .user-result:nth-child(2n-1) {
    background-color: #eee;
}

.loading-bar {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
}

.feed-screen article {
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    -webkit-border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
}

.friends-preview {

}

.friends {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 100px;
    vertical-align: top;
}

.user-img-preview {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

.post-title {
    display: inline-block;
}

.feed-screen article .post-title > img, .feed-screen article .post-comment > img {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    vertical-align: top;
}

.feed-screen article .comments {
    margin: 15px 10px;
}

.feed-screen article .post-title .posted-on, .feed-screen article .post-comment .posted-on {
    display: block;
    font-size: 11px;
    color: #999;
}

.feed-screen article .post-comment {
    background-color: #E4E4E4;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    padding: 5px;
    margin-top: 10px;
}

.feed-screen article .post-content {
    padding: 10px 5px;
}
.feed-screen article .like-comment-btns button {
    color: #fff;
}
.feed-screen article .like-comment-btns button a {
    color: #fff;
}
.comment-info {
    display: inline-block;
}

.post-settings {
    display: inline-block;
    float: right;
}

#user-wall > .header > #cover-photo > img {
    position:absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
}

#user-wall > .header {
    color: #fff !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#user-wall > .user-profile-body {
    padding: 20px 120px;
    width: 70%;
}

#user-wall > .header > #cover-photo{
    height: 200px;
    overflow: hidden;
    margin: 10px;
    position: relative;
}
#user-wall > .header > #profile-photo {
    position: absolute;
    top: 110px;
    left: 60px;
}