<form ng-controller="AuthenticationController" role="form" method="POST">
    <div class="form-group">
        <input ng-model="username" placeholder="Username" type="text" id="username" required class="form-control" />
    </div>
    <div class="form-group">
        <input ng-model="password" type="password" placeholder="Password" id="password" required class="form-control" />
    </div>
    <div class="form-group">
        <input type="checkbox" id="remember" ng-model="remember" tabindex="3" />
        <label for="remember"> Remember Me</label>
    </div>
    <button type="submit" ng-click="login($event)" class="btn btn-default">Login</button>
</form>