<section class="friends-screen" ng-controller="UsersController" ng-init="getFriendsList()">
    <div ng-init="getUserData()">
        <h2>
            <span class="glyphicon glyphicon-list-alt"></span>
            {{userData.name}} - Friends({{friends.length}} total)
        </h2>
        <form id="search-friend-form" role="search">
            <div class="input-group">
                <input type="text" id="search-friend-input" class="form-control" ng-model="filterBySearch" placeholder="Search...">
          <span class="input-group-btn">
            <button id="search-friend" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
            </div>
        </form>

        <div class="friends" ng-repeat="friend in friends | filter:{ name: filterBySearch}">
            <img ng-src="{{friend.profileImageData}}" class="user-img-preview">
            <div><a href="#/users/{{friend.username}}" >{{friend.name}}</a>
            </div>
        </div>
    </div>
</section>